body{
    font-family: 'Open Sans', sans-serif;
}
.black /*paragraph text*/
{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.pink/*shop div*/
{
    color: white;
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border: 0px;
}

.make /*all h+P+SHOP NOW+ img div*/
{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center; 
}
.headtext/*heading+para*/
{
    margin-left: 150px;
}

.flowervase/*second part*/
{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.threeflower/*text*/
{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}


.lotus /*3 flowerpicture*/
{
  
    display: flex;
    align-items: center;
   


}

.pngsix
{
   margin-top: 110px;
   margin-left: 50px;
}
.pngfive
{
    margin-top: 100px;
    margin-left: 50px;
}
.pngseven
{
    margin-top: 65px;
    margin-left: 50px;
}





.firstflower
{  
    
  
    
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-left: 214px;
   
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}
.secondflower
{  
    width: 464px;
   height: 538px;
   flex-shrink: 0;
    margin-left: 24px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.thirdflower
{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-left: 24px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}



.rose/*pink flower text*/
{  


    margin-inline-start: 350px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.underline /*pink flower text underline*/
{
   display: flex;
   align-items: center;
}


.offerprice/*hot deal*/
{
    margin-left: 400px;
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.price 
{
    margin-left: 300px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.myshop
{
    margin-right: 300px;
    border: 0px;
    margin-left: 600px;
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.golapvase
{
    display: flex;
    align-items: center;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}


.insta /*inastagram*/
{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.instatext
{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.fourflower
{
    display: flex;
    align-items: center;

}

.pataflower
{
    margin-left: 200px;
}
.rectanfour
{
    margin-left: 24px;
}
.cupflower
{
    margin-left: 24px;
}
.doublerose
{
    margin-left: 24px;
}
.latestdeal
{
   

    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-top: 200px;
    margin-left: 200px;

}







.longpart {
    margin-left: 200px;
    margin-top: 200px;
    background-image: url(Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 1440px;
    height: 449px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
  }
  
  .small {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
  }
  
  .address {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .address input[type="email"] {
    width: 450px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: #FFF;
    outline: none;
  }
  
  .address button.sub {
   margin-left: 20px;
   text-align: center;
    
    display: inline-block;
    padding:20px 40px 40px 35px;
    color: #FFF;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #E55473;
  }
  

























.firstpart
{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;


}
.partone
{
    margin-left: 850px;
    display: flex;
    font-size: large;
    color: #FFF;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;


}




.onepart
{
    margin-left: 800px;
    display: flex;
    align-items: center;
}
.textpart
{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.date 
{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.lastpart
{
    background: #111010;
    width: 1800px;
height: 449px;
flex-shrink: 0;
}








